<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="sub-headline">Latest News</h2>
            </div>
        </div>
        <div class="row top-pad">
            <div class="col-md-4">
                <div class="blog-img-overlay">
                    <a data-menuanchor="angularHeaderLink" href="https://angular.io/" target="_blank"><img src="../../assets/images/angular.jpg"  alt="" class="img-responsive center-block" ></a>
                </div>
                <div class="blog-info">
                    <h3><span class="ti-layout-media-overlay-alt-2 blog-icon"></span>Angular 5</h3>
                    <div class="border-style">
                        <span class="date">February 16, 2021</span>
                    </div>
                    <p>As much as we love Angular, we are always actively working to stay with the latest and greatest frameworks.
                     We are not saying good-bye to Angular 8 just yet but working with Angular 12 more and more to 
                     learn it's new features.</p>
                </div>
                <div class="border-style">
                    <a data-menuanchor="angularLink" target="_blank" href="https://angular.io/" class="more">Read more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-img-overlay">
                    <a data-menuanchor="bootstrapHeaderLink" href="https://v4-alpha.getbootstrap.com/" target="_blank"><img src="../../assets/images/bootstrap.jpg" alt="" class="img-responsive center-block"></a>
                </div>
                <div class="blog-info">
                    <h3><span class="ti-layout-media-overlay-alt-2 blog-icon"></span>Bootstrap 4</h3>
                    <div class="border-style">
                        <span class="date">October 06, 2016</span>
                    </div>
                    <p>Bootstrap is one of the most popular front-end frameworks on the market today. We are keeping 
                    a close eye on the progress of Bootstrap 4 and look forward to the new features it affords!</p>
                </div>
                <div class="border-style">
                    <a data-menuanchor="bootstrapLink" target="_blank" href="https://getbootstrap.com/docs/4.0/getting-started/download/" class="more">Read more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-img-overlay">
                    <a data-menuanchor="netCoreHeaderLink" href="https://www.microsoft.com/net/core#windows" target="_blank"><img src="../../assets/images/netcore.jpg" alt="" class="img-responsive center-block"></a>
                </div>
                <div class="blog-info">
                    <h3><span class="ti-layout-media-overlay-alt-2 blog-icon"></span>.Net Core</h3>
                    <div class="border-style">
                        <span class="date">June 18, 2021</span>
                    </div>
                    <p>We're actively using the .net core framework and we have come to love it. It's new features 
                    provides a long awaited new experience for the web developer. With it's vast impovements 
                    to Entity Framework to it's increasing support for multiple platforms it's the top platform 
                    on our development team.
                    </p>
                </div>
                <div class="border-style">
                    <a data-menuanchor="netCoreLink" target="_blank" href="https://www.microsoft.com/net/core#windows" class="more">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>
