<section id="aboutus">
    <div class="container">

        <div id="aboutContainer" class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="sub-headline">About Us</h2>
                </div>
            </div>
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="aboutTab">
                    <p>
                        Shape Consulting is an Veteran Owned, US based provider of custom web, cloud, desktop development, and  n-tier and service
                        oriented architectures for clients acrosss the US. From startups to the Fortune 500 companies, we're here to meet the ever
                        changing needs of business around the world.
                    </p>

                    <h2>Our Values</h2>
                    <ul>
                        <li>Honesty and Honor</li>
                        <li>Being 100% accountable for our actions and commitments</li>
                        <li>Being an ethical business partner</li>
                        <li>Understanding the importance and necessity of community</li>
                        <li>Commitment to great products and services</li>
                        <li>Positive collaboration and respect for all</li>
                        <li>Dedication and passion for excellence</li>
                        <li>Always innovating for positive change</li>
                    </ul>
                    <h2>Our Committment</h2>
                    <ul>
                        <li>Live our values</li>
                        <li>Listen to feedback and improve our solutions</li>
                        <li>Provide excellent quality by attention to detail</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>