<div class="slide" data-anchor="slide1">
    <section id="technology" class="technology-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="sub-headline">Technologies</h2>
                    <p>Our technology allows us to deliver software services and solutions to increase ROI and mitigate project risks.</p>
                </div>
            </div>
            <div class="row">
                <div class="center col-xs-12 item-filter bot-margin visible-md visible-lg">
                    <ul class="list-inline text-center">
                        <li class="filter" data-filter="all">All</li>
                        <li class="filter" data-filter=".microsoft">Microsoft</li>
                        <li class="filter" data-filter=".frontEnd">Front-End</li>
                        <li class="filter" data-filter=".database">Database</li>
                        <li class="filter" data-filter=".cloud">Cloud</li>
                    </ul>
                </div>
                <div id="technology-items" class="center col-xs-11 col-lg-11">
                    <div class="row visible-md visible-lg ">
                            <!-- @for (int i = 0; i < Model.Technologies.Count; i++)
                            {
                                var tech = Model.Technologies[i];
                                <div class="col-md-2 col-xs-12 mix @tech.Filter" data-myorder="@tech.Order">
                                    <a href="#" data-toggle="modal">
                                        <div class="img-wrap">
                                            <img src="~/@tech.Image" alt="" class="img-responsive center-block">
                                            <div class="img-overlay"></div>
                                        </div>
                                    </a>
                                </div>
                            } -->
                         </div>
                    <div class="row visible-xs visible-sm">
                        <hr style="border:thin solid #c6bebe;"/>
                        <!-- @for (int i = 0; i < Model.Technologies.Count; i++)
                        {
                            var tech = Model.Technologies[i];
                            <div class="col-xs-6 col-xs-12">
                                <h4><span class="ti-control-record" style="padding-right:4px; font-size:12px;"></span>@tech.Name</h4>
                            </div>
                        } -->
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
