<section id="whatWeDo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="sub-headline">What We do</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-10 column" >
                <div class="item">
                    <span class="bowl blue bowl-align ti-desktop"></span>
                    <span class="text">Custom Web Application Development</span>
                </div>
                <p>A custom web application is tailored to meet every detail of your business needs.
                We will design, create, test your application using the latest frameworks to deliver
                your system in a timely and efficient manner.</p>
            </div>
            <div class="col-md-6 col-sm-10 column">
                <div class="item">
                    <span class="bowl blue bowl-align ti-write"></span>
                    <span class="text">Web Services</span>
                </div>
                <p>Web applications often need to send or receive information from other applications.
                We will create a secure and reliable set of web services to meet your data application needs. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-10 column">
                <div class="item">
                    <span class="bowl green bowl-align ti-files"></span>
                    <span class="text">System Integration</span>
                </div>
                <p>Applications often need to work with other applications to stream line a business process.
                We're experienced in working with vendors to integrate systems to create one cohesive work stream flow.
                </p>
            </div>
            <div class="col-md-6 col-sm-10 column">
                <div class="item">
                    <span class="bowl green bowl-align ti-map"></span>
                    <span class="text">Application Upgrades</span>
                </div>
                <p>Business needs change as a business evolves.  We analyze your software to understand how 
                to add or update existing application logic and implement in a timely fashion.</p>
            </div>
          </div>
        <div class="row">
            <div class="col-md-6 col-sm-10 column">
                <div class="item">
                    <span class="bowl blue bowl-align ti-package"></span>
                    <span class="text">Maintenance and Support</span>
                </div>
                <p>Web applications run often and they need tending to. We're here to ensure your application is up and 
                running smoothly every step of the way.</p>
            </div>
            <div class="col-md-6 col-sm-10 column">
                <div class="item">
                    <span class="bowl blue bowl-align ti-cloud"></span>
                    <span class="text">Cloud Deployment and Management</span>
                </div>
                <p>Web applications need to run in a secure environment where they can be accessed by the people who need to access them. 
                We will acquire a secure domain and deploy your application without any assistance on your part.
               </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-10 column">
                <div class="item">
                    <span class="bowl green bowl-align ti-agenda"></span>
                    <span class="text">Project Guidance and Management</span>
                </div>
                <p>It's not always easy understanding what an application needs to do.  We will help you
                determine what your application must do to achieve your business goals and implement a management
                process to ensure deliverables are delivered on schedule and on time.</p>
            </div>
            <div class="col-md-6 col-sm-10 column hidden-sm hidden-xs">
                <img src="../../assets/images/building.jpg" style="margin-left:120px;" />
            </div>
    </div>
   </div>
</section>
