<!-- <div id="loader">
    <div class="icon"></div>
</div> -->

<!-- Navigation -->
<div id="navigation">
    <nav class="navbar navbar-default navbar-static-top affix" id="nav">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Brand -->
                <a class="navbar-brand page-scroll" href="#homePage"><img src="assets/images/logo.png" width="220" height="65" alt=""></a>
                <!-- End Brand -->
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right menu">
                    <li><a data-menuanchor="homePage" rel="homePage" href="#homePage"></a></li>
                    <li><a data-menuanchor="whatWeDoPage" rel="#!whatWeDoPage" href="#whatWeDoPage">What We Do</a></li>
                    @*<li><a data-menuanchor="howWeDoItPage" rel="#!howWeDoItPage" href="#howWeDoItPage">How We Do It</a></li>*@
                    <li><a data-menuanchor="technologiesPage" rel="#!technologiesPage" href="#technologiesPage">Technologies</a></li>
                    <li><a data-menuanchor="blogPage" rel="#!blogPage" href="#blogPage">Blog</a></li>
                    <li><a data-menuanchor="aboutUsPage" rel="#!aboutUsPage" href="#aboutUsPage">About Us</a></li>
                    <li><a data-menuanchor="contactPage" rel="#!contactPage" href="#contactPage">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
